<section class="app-wrapper app-intro">
    <div class="app-container">

        <h1 class="app-intro__headline">Sync reminders <br> to your calendar</h1>
      <% unless logged_in? %>
        <p class="app-intro__summary">Calendar Connector turns your Evernote reminders into calendar events, then keeps any changes syncronised. Say goodbye to manual duplication.</p>
        <div class="app-graphic">
            <%= image_tag("cronofy-banner-mobile.png", class: "app-graphic__image app-graphic__image--small", alt:"How Evernote and your Calendar are syncronised") %>
            <%= image_tag("cronofy-banner.png", class: "app-graphic__image app-graphic__image--large", alt:"How Evernote and your Calendar are syncronised") %>
            <%= image_tag("cronofy-banner-dots.png", class:"app-graphic__image app-graphic__image--large__dots", alt:"How Evernote and your Calendar are syncronised") %>
            <ul class="app-graphic__captions">
                <li class="app-graphic__step app-graphic__step--1">Create a new reminder <br> within Evernote</li>
                <li class="app-graphic__step app-graphic__step--2">A calendar event is <br> made automatically</li>
                <li class="app-graphic__step app-graphic__step--3">Edits in either place <br> are syncronised</li>
            </ul>
            <div class="app-pulses">
                <div class="app-pulse__block app-pulse__block--1">
                    <span class="app-pulse app-pulse--1"></span>
                    <span class="app-pulse app-pulse--2"></span>
                    <span class="app-pulse app-pulse--3"></span>
                    <span class="app-pulse app-pulse--4"></span>
                </div>
                <div class="app-pulse__block app-pulse__block--2">
                    <span class="app-pulse app-pulse--5"></span>
                    <span class="app-pulse app-pulse--6"></span>
                    <span class="app-pulse app-pulse--7"></span>
                </div>
                <div class="app-pulse__block app-pulse__block--3">
                    <span class="app-pulse app-pulse--8"></span>
                    <span class="app-pulse app-pulse--9"></span>
                    <span class="app-pulse app-pulse--10"></span>
                    <span class="app-pulse app-pulse--11"></span>
                    <span class="app-pulse app-pulse--12"></span>
                    <span class="app-pulse app-pulse--13"></span>
                </div>

            </div>
        </div>
      <% end %>
    </div>
</section>

<section class="app-wrapper app-steps">
  <div class="app-container">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <% unless setup_complete? %>
            <% if render_cronofy_auth? %>

              <div class="panel panel-primary">

                  <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                          <a href="" aria-expanded="true" aria-controls="collapseOne">
                              1. Connect your calendar
                          </a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                      <div class="panel-body">
                          <p><a href="/auth/cronofy" type="button" class="btn btn-success">Create connection</a></p>
                          <p class="text-muted">You will be taken to authorise this app with your calendar.</p>
                      </div>
                  </div>
              </div>

            <% else %>

              <div class="panel panel-success">
                  <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                          <a href="index.html">
                              <span class="glyphicon glyphicon-ok"></span> Connected to calendars for: <span class="text-muted"><%= current_user.email %></span>
                          </a>
                      </h4>
                  </div>
              </div>

            <% end %>

            <% if render_evernote_auth? %>

              <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                          <a class="collapsed" href="#">
                              2. Connect with Evernote
                          </a>
                      </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel">
                      <div class="panel-body">
                          <p><a class="btn btn-success" href="/auth/evernote">Create connection</a></p>
                          <p class="text-muted">You will be taken to authorise this app with Evernote.</p>
                      </div>
                  </div>
              </div>

            <% else %>

              <% if evernote_credentials? %>

                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#">
                                <span class="glyphicon glyphicon-ok"></span> Connected to Evernote
                            </a>
                        </h4>
                    </div>
                </div>

              <% else %>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#">
                                2. Connect with Evernote
                            </a>
                        </h4>
                    </div>
                </div>

              <% end %>

            <% end %>


            <% if render_settings? %>

              <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                          <a class="collapsed" ref="#collapseThree">
                              3. Choose your settings
                          </a>
                      </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel">
                      <div class="panel-body">
                          <%= form_tag calendar_path do %>
                            <div class="form-group">
                              <label for="calendar_id">Select calendar</label>
                              <%= select_tag "calendar_id", grouped_options_for_select(grouped_calendars, current_user.cronofy_calendar_id) %>
                            </div>

                            <%= submit_tag 'Start Sync', class: 'btn btn-success', data: { disable_with: "Starting sync..." } %>
                          <% end %>
                      </div>
                  </div>
              </div>

            <% else %>

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                          <a class="collapsed" href="step3.html">
                              3. Choose your settings
                          </a>
                      </h4>
                  </div>
              </div>

            <% end %>

        <% else %>

            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" ref="#collapseOne">
                            Connection active
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body app-copy">
                        <p>It may take a few minutes for your reminders to appear in your calendar. Once they are in your calendar, you can:</p>
                        <ul>
                            <li>alter the name of your note by changing the name of the event</li>
                            <li>change the time of your reminder by moving the event</li>
                            <li>remove the reminder by deleting the event</li>
                        </ul>
                        <div class="alert alert-success" role="alert">
                            Changes you make in your calendar may take a few minutes to show up in Evernote. If you are using the web interface for Evernote, you may also need to refresh the page.
                        </div>
                    </div>
                </div>
            </div>

          <% end %>

        </div>

        <% if logged_in? %>
          <div class="app-undo">
                <%= button_to 'Logout', session_path, method: :delete, class: 'btn btn-link' %>
                <%= button_to 'Delete Account', '/', method: :delete, data: { confirm: "Are you sure?", disable_with: "Deleting..." }, class: 'btn btn-link' %>
          </div>
        <% end %>

    </div>
</section>


